apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.ProjectName}}
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: {{.ProjectName}}
          env:
            - name: APP_ENV
              value: development
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
