apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{.ProjectName}}
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: {{.ProjectName}}
          env:
            - name: APP_ENV
              value: staging
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
