apiVersion: v1
kind: ConfigMap
metadata:
  name: {{.ProjectName}}-config
  labels:
    app.kubernetes.io/name: {{.ProjectName}}
data:
  APP_NAME: "{{.ProjectName}}"
  APP_ENV: "production"
  PORT: "{{.Port}}"
  LOG_LEVEL: "info"
  LOG_FORMAT: "json"
