apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{.ProjectName}}-ingress
  labels:
    app.kubernetes.io/name: {{.ProjectName}}
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
    - hosts:
        - {{.ProjectName}}.example.com
      secretName: {{.ProjectName}}-tls
  rules:
    - host: {{.ProjectName}}.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{.ProjectName}}
                port:
                  number: {{.Port}}
