apiVersion: v1
kind: Secret
metadata:
  name: {{.ProjectName}}-secret
  labels:
    app.kubernetes.io/name: {{.ProjectName}}
type: Opaque
stringData:
  DATABASE_URL: "{{.Database}}://appuser:ChangeMeSecurePass@{{.ProjectName}}-db:5432/{{.ProjectName}}"
  API_KEY: "placeholder-secret-token"
