apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{.ProjectName}}-pdb
  labels:
    app.kubernetes.io/name: {{.ProjectName}}
    app.kubernetes.io/part-of: elmos-microservices
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{.ProjectName}}
