apiVersion: v1
kind: Service
metadata:
  name: {{.ProjectName}}
  labels:
    app.kubernetes.io/name: {{.ProjectName}}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: {{.Port}}
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: {{.ProjectName}}
